//big header variable{
$margin-top: 50px;
$max-width: 900px;
$min-heigth: 600px;

//smaller header
$margin-top: 80px;
$max-width: 500px;
$min-heigth: 300px;

.header-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: $margin-top;
  .header-container {
    width: 90%;
    max-width: 500px;
    max-width: $max-width;
    justify-content: center;
    margin: auto;
    min-height: 300px;
    min-height: $min-heigth;
    background-position: center center;
    box-shadow: -10px 16px 20px 6px rgb(0 0 0 / 30%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    // border: rgb(0, 0, 0) 5px solid;
    // background-attachment: fixed;
    @include verticalCenter;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: "Dosis Variable", sans-serif;
    font-variation-settings: "wdth" 75, "wght" 900;
    text-align: center;
    text-shadow: -1px -1px 0 #00000057, 1px -1px 0 #00000057, -1px 1px 0 #00000057, 1px 1px 0 #00000057;
    border-radius: 90% 10% 88% 12% / 24% 70% 30% 76%;
    border-radius: 69% 31% 64% 36% / 28% 60% 40% 72%;

    overflow: hidden;
    transition: 1s;

    @media screen and (max-width: 700px) {
      // border-radius: 0% 0% 25% 20% / 0% 17% 13% 15%;
      width: 100%;
      mask-size: 50% 100%;
      min-height: 500px;
    }

    // fill: "transparent";
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none; /* Pour permettre les clics à travers la vignette */
      background: radial-gradient(ellipse at center, transparent 40%, rgb(0, 0, 0) 100%);
    }
    h2 {
      z-index: 1;
      font-size: 4rem;
      margin: 0.5rem;
      @media screen and (max-width: 700px) {
        font-size: 2.5rem;
      }
    }
    h3 {
      z-index: 1;
      font-family: "poppins";
      font-weight: 500;
      font-style: italic;
      font-size: 1.5rem;
      animation: pulse 10s linear infinite;
      margin: 1rem;
      @media screen and (max-width: 700px) {
        font-size: 1rem;
      }
      // font-variation-settings: "wdth" 100, "wght" 900;
    }
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}
