@media screen and (max-width: 900px) {
  .action-call-container {
    display: flex;
    flex-direction: column;
    &::before {
      content: "";
      background-image: none !important;
    }
    div {
      max-width: 100% !important;
      position: relative !important;
      top: 0px !important;
      left: 0 !important;
    }
  }

  .action-call-item-img {
    transform: translate(0%, 0%) !important;
  }
}

.action-call-container {
  font-family: Dosis;
  position: relative;
  min-height: 600px;
  max-width: 700px;
  margin: 100px auto;
  &::before {
    content: "";
    background-image: url(/public/img/team-together.png);
    background-image: url(/public/img/team-together.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
  }

  & div:nth-child(1) {
    top: -80px;
    left: 0px;
  }
  & div:nth-child(2) {
    top: 0;
    right: -80px;
  }
  & div:nth-child(3) {
    bottom: 0;
    left: 0px;
  }
  & div:nth-child(4) {
    bottom: 50px;
    right: -120px;
  }
  .action-call-item {
    position: absolute;
    display: flex;
    margin: 20px 10px;
    max-width: 200px;
    -webkit-filter: drop-shadow(1px 1px 0px #22222228);
    filter: drop-shadow(0px 0px 1px #22222228);
    .action-call-item-img {
      position: absolute;
      // display: inline-block;
      transform: translate(-130%, 150%);
      opacity: 0.7;
      span {
        font-size: 4rem;
      }
    }
    h3 {
      font-size: 4rem;
      font-weight: 900;
    }
    p {
      font-size: 2rem;
      line-height: 1.5rem;
    }
  }
}
