// .polaroid-container {
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: center;
//   margin-top: 0;
//   flex: 1 1 200px;
//   padding-top: 0px;
//   min-height: 500px;
//   position: relative;

//   .polaroid-box-hover {
//     width: 220px;
//     transition: 1s;
//     // position: absolute;
//     transform-style: preserve-3d;
//     perspective: 1000px;
//     .polaroid-frame {
//       padding: clamp(6px, 5%, 14px);
//       padding-bottom: clamp(24px, 25%, 25px);
//       background-color: hsla(0, 0%, 90%, 1);
//       border: 2px solid;
//       border-color: white hsla(0, 00%, 75%, 1) hsla(0, 0%, 40%, 1) hsla(0, 0%, 75%, 1); /*border colors (top / right / bottom / left )*/
//       background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"%3E%3Cg fill="%239C92AC19" fill-opacity="0.4"%3E%3Cpath fill-rule="evenodd" d="M0 0h4v4H0V0zm4 4h4v4H4V4z"/%3E%3C/g%3E%3C/svg%3E'); /*background pattern*/
//       box-shadow: 0px 5px 5px hsla(0, 0%, 0%, 0.25), 0px 5px 25px hsla(0, 0%, 0%, 0.2);

//       figcaption {
//         text-align: center;
//         font-family: Caveat Variable;
//         font-size: 1.5rem;
//         font-weight: 400;
//         transform: translateY(10px);
//       }
//       .effect-shine {
//         display: inline-block;
//         position: relative;

//         overflow: hidden;
//         &:after {
//           content: "";
//           position: absolute;
//           top: -30%;
//           right: -200%;
//           width: 50%;
//           height: 200%;
//           opacity: 0;
//           transform: rotate(10deg);
//           background: rgba(255, 255, 255, 0.13);
//           background: linear-gradient(
//             to right,
//             rgba(255, 255, 255, 0.13) 0%,
//             rgba(255, 255, 255, 0.13) 77%,
//             rgba(255, 255, 255, 0.5) 92%,
//             rgba(255, 255, 255, 0) 100%
//           );
//           animation: shine 1s 2s;
//         }
//         img {
//           backface-visibility: hidden;
//           width: 100%;
//           height: 100%;
//           transition: 1s;
//           filter: sepia(0.4);
//         }
//         span {
//           position: absolute;
//           background-size: contain;
//           width: 100%;
//           height: 100%;
//           top: 0;
//           left: 0;
//           padding: 10px;

//           p {
//             display: -webkit-box;
//             -webkit-box-orient: vertical;
//             -webkit-line-clamp: 8;
//             overflow: hidden;
//             text-overflow: ellipsis;
//           }
//           transition: 1s;
//           backface-visibility: hidden;
//           transform: rotatey(180deg);
//         }
//       }
//       @keyframes shine {
//         to {
//           opacity: 1;
//           right: 210%;
//         }
//       }
//       .infos-container {
//         position: relative;
//         .background-image {
//           position: absolute;
//           top: 0;
//           left: 0;
//           width: 100%;
//           height: 100%;
//           background-size: contain;
//           background-repeat: no-repeat;
//           filter: blur(1px) contrast(50%);
//           z-index: -1;
//         }
//       }
//     }
//     &:before,
//     &:after {
//       background: rgba(255, 255, 235, 0.6);
//       box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
//       content: "";
//       display: block;
//       height: 30px;
//       position: absolute;
//       margin: auto;
//       width: 100px;
//       z-index: 1;
//     }
//     &:before {
//       left: 50%;
//       top: 00px;
//       transform: translate(-50%, -50%);
//       //   transform: rotate(0deg);
//     }

//     &:after {
//       bottom: 0px;
//       right: -35px;
//       transform: rotate(-35deg);
//     }
//     &:hover img {
//       transform: rotatey(180deg);
//     }
//     &:hover .effect-shine span {
//       transform: rotatey(0deg);

//       backface-visibility: hidden;
//     }
//     &:hover {
//       z-index: 20;
//     }
//   }
// }

.polaroid-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  flex: 1 1 200px;
  padding-top: 0px;
  // min-height: 500px;
  position: relative;

  .polaroid-box-hover {
    width: 220px;

    .polaroid-frame {
      cursor: pointer;
      padding: clamp(6px, 5%, 14px);
      padding-bottom: clamp(24px, 25%, 25px);
      background-color: hsla(0, 0%, 90%, 1);
      border: 2px solid;
      border-color: white hsla(0, 00%, 75%, 1) hsla(0, 0%, 40%, 1) hsla(0, 0%, 75%, 1); /*border colors (top / right / bottom / left )*/
      background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"%3E%3Cg fill="%239C92AC19" fill-opacity="0.4"%3E%3Cpath fill-rule="evenodd" d="M0 0h4v4H0V0zm4 4h4v4H4V4z"/%3E%3C/g%3E%3C/svg%3E'); /*background pattern*/
      box-shadow: 0px 5px 5px hsla(0, 0%, 0%, 0.25), 0px 5px 25px hsla(0, 0%, 0%, 0.2);

      figcaption {
        text-align: center;
        font-family: Caveat Variable;
        font-size: 1.5rem;
        font-weight: 400;
        transform: translateY(10px);
      }
      .effect-shine {
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          transition: 1s;
          filter: sepia(0.4);
        }
        span {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          color: rgb(255, 255, 255);
          padding: 10px;
          font-family: poppins;
          background-color: rgba(0, 0, 0, 0.548);
          transition: 1s;
          transform: translate(0, 100%);
          z-index: 2;

          p {
            font-size: 0.7rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 8;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      @keyframes shine {
        to {
          opacity: 1;
          right: 210%;
        }
      }
      .infos-container {
        position: relative;
        .background-image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: contain;
          background-repeat: no-repeat;
          filter: blur(1px) contrast(50%);
          z-index: -1;
        }
      }
    }

    //SCOTCHES
    &:before,
    &:after {
      background: rgba(255, 255, 235, 0.6);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      content: "";
      display: block;
      height: 30px;
      position: absolute;
      margin: auto;
      width: 100px;
      z-index: 1;
    }
    &:before {
      left: 50%;
      top: 00px;
      transform: translate(-50%, -50%);
      //   transform: rotate(0deg);
    }

    &:after {
      bottom: 0px;
      right: -35px;
      transform: rotate(-35deg);
    }
  }
}

.is-selected {
  transform: translate(0, 0) !important;
}
