@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap");
@font-face {
  font-family: "Dosis";
  src: url("../assets/fonts/Dosis/Dosis-VariableFont_wght.ttf") format("truetype"); /* Ajoutez les autres formats si nécessaire */

  // Supports weights 100-900 in a single small file.
}

$color-1: #61dafb;
$color-2: salmon;
$color-3: #282c34;
$white: rgb(243, 243, 243);

//Navlink color
$navlink-color-active: #b44fc8;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  // background: black;
  min-height: 100vh;
  width: 100%;
  // display: flex;
  justify-content: center;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.87);
}

.content-container {
  padding: 3rem 1rem;
  max-width: 1000px;
  width: 90%;
  margin: auto;
  background-color: white;

  color: black;
  font-family: poppins;
  font-size: 0.8rem;
}

///BARRE DE DEILEMENT #################################
/* Styles pour Firefox */
/* Largeur de la barre de défilement */
html {
  scrollbar-width: thin;
}

/* Style de la poignée (la partie que vous faites glisser) pour Firefox */
html::-moz-scrollbar-thumb {
  background-color: #4caf50; /* Couleur de fond de la poignée */
  border-radius: 6px; /* Coins arrondis de la poignée */
}

/* Style de la piste (la partie sur laquelle la poignée se déplace) pour Firefox */
html::-moz-scrollbar-track {
  background-color: #f1f1f1; /* Couleur de fond de la piste */
}
html {
  overflow-y: scroll;
  scrollbar-width: thin;
  /* Largeur de la barre de défilement */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Style de la poignée (la partie que vous faites glisser) */
  ::-webkit-scrollbar-thumb {
    background-color: $navlink-color-active; /* Couleur de fond de la poignée */
    border-radius: 2px; /* Coins arrondis de la poignée */
  }

  /* Style de la piste (la partie sur laquelle la poignée se déplace) */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f100; /* Couleur de fond de la piste */
  }
}
body {
  scrollbar-gutter: stable;
}

/* Changer la couleur de fond lors de la sélection */
::selection {
  background-color: #3498db62; /* Couleur de fond lors de la sélection */
  color: #fff; /* Couleur du texte lors de la sélection */
}

/* Changer la couleur de fond pour Firefox */
::-moz-selection {
  background-color: #3498db80;
  color: #fff;
}
