$color-1: #61dafb;
$color-2: salmon;
$color-3: #282c34;
$white: rgb(243, 243, 243);

//Page headers

//big header variable{
// $header_margin-top: 50px;
// $header_max-width: 900px;
// $header_min-heigth: 600px;
// $header_border-radius: 90% 10% 88% 12% / 24% 70% 30% 76%;
// $header_width: 90%;

// //smaller header
$header_margin-top: 80px;
$header_max-width: 500px;
$header_min-heigth: 300px;
$header_border-radius: 69% 31% 64% 36% / 28% 60% 40% 72%;
$header_width: 90%;

// full page
// $header_margin-top: 90px;
// $header_max-width: 100%;
// $header_min-heigth: 200px;
// $header_border-radius: 0px;
// $header_width: 100%;

// NAVBAR

//Navlink color
$navbar_color-link-active: #b44fc8;
$navbar_color-link: black;
$navbar_color-link__scroll: black;
$navbar_color-mobile-hamburger-icon: rgba(0, 0, 0, 0.712);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
