@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@font-face {
  font-family: "Dosis";
  src: url("../assets/fonts/Dosis/Dosis-VariableFont_wght.ttf") format("truetype"); /* Ajoutez les autres formats si nécessaire */
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.87);
}

.content-container {
  padding: 3rem 1rem;
  max-width: 1000px;
  width: 90%;
  margin: auto;
  background-color: white;
  color: black;
  font-family: poppins;
  font-size: 0.8rem;
}

.navigation {
  background: rgb(247, 243, 238);
  -webkit-box-shadow: -2px 4px 14px rgba(0, 0, 0, 0.21);
          box-shadow: -2px 4px 14px rgba(0, 0, 0, 0.21);
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation .nav-container {
  max-width: 1200px;
  height: 90px;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 150px;
}
.navigation .nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}
.navigation .nav-container ul a {
  padding: 0 10px;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 2px;
  color: rgba(20, 4, 16, 0.7411764706);
  text-decoration: inherit;
  font-family: Dosis;
  position: relative;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.navigation .nav-container ul a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: rgba(20, 4, 16, 0.7411764706);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  left: 0;
  top: -10px;
}
.navigation .nav-container ul a:hover {
  color: #b44fc8;
}
.navigation .nav-container ul a:hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #b44fc8;
  top: -10px;
  left: 0;
}
.navigation .nav-container ul .is-active {
  position: relative;
  color: #b44fc8;
}
.navigation .nav-container ul .is-active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #b44fc8;
  top: -10px;
  left: 0;
}

.logo-container {
  height: inherit;
  top: 0;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.logo-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}
.logo-container .logo-img-container {
  position: absolute;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  z-index: 1000;
}
.logo-container .logo-img-container img {
  width: 110px;
  opacity: 0.8;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
.logo-container .logo-text-container {
  z-index: 1001;
  color: black;
  position: relative;
  font-family: Indie Flower;
}
.logo-container .logo-text-container a {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo-container .logo-text-container p {
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.5rem;
}
.logo-container .logo-text-container h2 {
  font-size: 2rem;
  line-height: 10px;
}

.header-container {
  width: 100%;
  min-height: 600px;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  position: relative;
  font-family: "Dosis Variable", sans-serif;
  font-variation-settings: "wdth" 75, "wght" 900;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3411764706), 1px -1px 0 rgba(0, 0, 0, 0.3411764706), -1px 1px 0 rgba(0, 0, 0, 0.3411764706), 1px 1px 0 rgba(0, 0, 0, 0.3411764706);
}
.header-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 40%, rgb(0, 0, 0) 100%); /* Ajustez les valeurs selon vos besoins */
  z-index: 2; /* Assurez-vous que le dégradé radial est au-dessus du flou */
}
.header-container h2 {
  z-index: 1;
  font-size: 4rem;
  margin: 0.5rem;
}
.header-container h3 {
  z-index: 1;
  font-family: "poppins";
  font-weight: 500;
  font-style: italic;
  font-size: 1.5rem;
  -webkit-animation: pulse 10s linear infinite;
          animation: pulse 10s linear infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.action-call-container {
  font-family: Dosis;
  position: relative;
  min-height: 700px;
  margin: 5rem 1rem;
}
.action-call-container::before {
  content: "";
  background-image: url(/public/img/team-together.png);
  background-image: url(/public/img/team-together.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
}
.action-call-container div:nth-child(1) {
  top: -50px;
  left: 0px;
}
.action-call-container div:nth-child(2) {
  top: 0;
  right: -80px;
}
.action-call-container div:nth-child(3) {
  bottom: 0;
  left: 0px;
}
.action-call-container div:nth-child(4) {
  bottom: 50px;
  right: -120px;
}
.action-call-container .action-call-item {
  position: absolute;
  max-width: 200px;
}
.action-call-container .action-call-item .action-call-item-img {
  -webkit-transform: translate(-40%, 100%);
          transform: translate(-40%, 100%);
  opacity: 0.7;
}
.action-call-container .action-call-item .action-call-item-img span {
  font-size: 4rem;
}
.action-call-container .action-call-item h3 {
  font-size: 4rem;
  font-weight: 900;
}
.action-call-container .action-call-item p {
  font-size: 2rem;
  line-height: 1.5rem;
}

.introduction-container {
  position: relative;
  padding: 50px 0;
}
.introduction-container::after {
  content: "● ● ● ● ● ●";
  left: 50%;
  bottom: 0;
  color: lightpink;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  font-size: 2rem;
  position: absolute;
  z-index: 1;
}
.introduction-container h2 {
  font-size: 2rem;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  z-index: 1;
}
.introduction-container h2::before {
  content: "●";
  left: 0;
  color: aquamarine;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 10rem;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
}
.introduction-container h2::after {
  content: "● ● ● ● ●";
  right: 0;
  color: aquamarine;
  margin: 0 auto;
  position: absolute;
}
.introduction-container p {
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
}/*# sourceMappingURL=index.css.map */