@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@font-face {
  font-family: "Dosis";
  src: url("../assets/fonts/Dosis/Dosis-VariableFont_wght.ttf") format("truetype"); /* Ajoutez les autres formats si nécessaire */
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: linear-gradient(-20deg, rgba(225, 206, 255, 0.4117647059) 0%, rgba(251, 252, 219, 0.3137254902) 100%);
  min-height: 100vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.87);
}

/* Styles pour Firefox */
/* Largeur de la barre de défilement */
html {
  scrollbar-width: thin;
}

/* Style de la poignée (la partie que vous faites glisser) pour Firefox */
html::-moz-scrollbar-thumb {
  background-color: #4caf50; /* Couleur de fond de la poignée */
  border-radius: 6px; /* Coins arrondis de la poignée */
}

/* Style de la piste (la partie sur laquelle la poignée se déplace) pour Firefox */
html::-moz-scrollbar-track {
  background-color: #f1f1f1; /* Couleur de fond de la piste */
}

html {
  overflow-y: scroll;
  scrollbar-width: thin;
  /* Largeur de la barre de défilement */
  /* Style de la poignée (la partie que vous faites glisser) */
  /* Style de la piste (la partie sur laquelle la poignée se déplace) */
}
html ::-webkit-scrollbar {
  width: 8px;
}
html ::-webkit-scrollbar-thumb {
  background-color: #b44fc8; /* Couleur de fond de la poignée */
  border-radius: 2px; /* Coins arrondis de la poignée */
}
html ::-webkit-scrollbar-track {
  background-color: rgba(241, 241, 241, 0); /* Couleur de fond de la piste */
}

body {
  scrollbar-gutter: stable;
}

/* Changer la couleur de fond lors de la sélection */
::-moz-selection {
  background-color: rgba(52, 152, 219, 0.3843137255); /* Couleur de fond lors de la sélection */
  color: #fff; /* Couleur du texte lors de la sélection */
}
::selection {
  background-color: rgba(52, 152, 219, 0.3843137255); /* Couleur de fond lors de la sélection */
  color: #fff; /* Couleur du texte lors de la sélection */
}

/* Changer la couleur de fond pour Firefox */
::-moz-selection {
  background-color: rgba(52, 152, 219, 0.5019607843);
  color: #fff;
}

.navigation {
  scrollbar-gutter: stable both-edges;
  background-image: linear-gradient(-225deg, rgba(240, 254, 250, 0.8784313725) 0%, rgba(255, 249, 255, 0.9) 0%);
  -webkit-box-shadow: -2px 4px 14px rgba(0, 0, 0, 0.21);
          box-shadow: -2px 4px 14px rgba(0, 0, 0, 0.21);
  width: 100%;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  z-index: 2000;
  -webkit-transition: 1s;
  transition: 1s;
}
.navigation .nav-container {
  max-width: 1200px;
  width: 90%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 150px;
}
.navigation .nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}
.navigation .nav-container ul a {
  padding: 0 10px;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 2px;
  color: rgba(20, 4, 16, 0.7411764706);
  text-decoration: inherit;
  font-family: Dosis;
  position: relative;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.navigation .nav-container ul a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: rgba(20, 4, 16, 0.7411764706);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  left: 0;
  top: -10px;
}
.navigation .nav-container ul a:hover {
  color: #b44fc8;
}
.navigation .nav-container ul a:hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #b44fc8;
  top: -10px;
  left: 0;
}
.navigation .nav-container ul .is-active {
  position: relative;
  color: #b44fc8;
}
.navigation .nav-container ul .is-active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #b44fc8;
  top: -10px;
  left: 0;
}

.fixed-navigation {
  position: fixed;
  top: 0;
  background-image: linear-gradient(-225deg, #f0fefa 0%, rgb(255, 249, 255) 0%);
  height: 80px;
  z-index: 2000;
  -webkit-transition: 1s;
  transition: 1s;
}
.fixed-navigation .logo-text-container {
  opacity: 0;
}
.fixed-navigation a img {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(0.5) !important;
          transform: scale(0.5) !important;
}

.logo-container {
  height: inherit;
  top: 0;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.logo-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
}
.logo-container .logo-img-container {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  position: absolute;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  z-index: 1000;
}
.logo-container .logo-img-container img {
  -webkit-transition: 1s;
  transition: 1s;
  width: 110px;
  opacity: 0.8;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
.logo-container .logo-text-container {
  z-index: 1001;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
  position: relative;
  font-family: Indie Flower;
}
.logo-container .logo-text-container a {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo-container .logo-text-container p {
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.5rem;
}
.logo-container .logo-text-container h2 {
  font-size: 2rem;
  line-height: 10px;
}

.header-container {
  width: 80%;
  min-height: 600px;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  position: relative;
  font-family: "Dosis Variable", sans-serif;
  font-variation-settings: "wdth" 75, "wght" 900;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3411764706), 1px -1px 0 rgba(0, 0, 0, 0.3411764706), -1px 1px 0 rgba(0, 0, 0, 0.3411764706), 1px 1px 0 rgba(0, 0, 0, 0.3411764706);
  border-radius: 0% 100% 50% 50%/75% 47% 53% 25%;
  overflow: hidden;
  -webkit-mask-size: 40% 100%;
          mask-size: 40% 100%;
}
@media screen and (max-width: 700px) {
  .header-container {
    width: 100%;
    -webkit-mask-size: 50% 100%;
            mask-size: 50% 100%;
    min-height: 500px;
  }
}
.header-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none; /* Pour permettre les clics à travers la vignette */
  background: radial-gradient(ellipse at center, transparent 20%, rgba(0, 0, 0, 0.6) 100%);
}
.header-container h2 {
  z-index: 1;
  font-size: 4rem;
  margin: 0.5rem;
}
@media screen and (max-width: 700px) {
  .header-container h2 {
    font-size: 2.5rem;
  }
}
.header-container h3 {
  z-index: 1;
  font-family: "poppins";
  font-weight: 500;
  font-style: italic;
  font-size: 1.5rem;
  -webkit-animation: pulse 10s linear infinite;
          animation: pulse 10s linear infinite;
  margin: 1rem;
}
@media screen and (max-width: 700px) {
  .header-container h3 {
    font-size: 1rem;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media screen and (max-width: 900px) {
  .action-call-container div {
    max-width: 100% !important;
    position: relative !important;
    top: 0px !important;
    left: 0 !important;
  }
  .action-call-item-img {
    -webkit-transform: translate(0%, 0%) !important;
            transform: translate(0%, 0%) !important;
  }
}
.action-call-container {
  font-family: Dosis;
  position: relative;
  min-height: 600px;
  max-width: 700px;
  margin: 100px auto;
}
@media screen and (max-width: 900px) {
  .action-call-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.action-call-container::before {
  content: "";
  background-image: url(/public/img/team-together.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
}
@media screen and (max-width: 900px) {
  .action-call-container::before {
    background-image: none;
  }
}
.action-call-container div:nth-child(1) {
  top: -80px;
  left: 0px;
}
.action-call-container div:nth-child(2) {
  top: 0;
  right: -80px;
}
.action-call-container div:nth-child(3) {
  bottom: 0;
  left: 0px;
}
.action-call-container div:nth-child(4) {
  bottom: 50px;
  right: -120px;
}
.action-call-container .action-call-item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 10px;
  max-width: 200px;
  -webkit-filter: drop-shadow(1px 1px 0px rgba(34, 34, 34, 0.1568627451));
  filter: drop-shadow(0px 0px 1px rgba(34, 34, 34, 0.1568627451));
}
@media screen and (max-width: 900px) {
  .action-call-container .action-call-item {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 900px) {
  .action-call-container .action-call-item .action-call-item-text {
    width: 90%;
  }
}
.action-call-container .action-call-item .action-call-item-text .action-call-item-icone {
  position: absolute;
  -webkit-transform: translate(-120%, 50%);
          transform: translate(-120%, 50%);
  opacity: 0.7;
  font-size: 5rem;
}
@media screen and (max-width: 900px) {
  .action-call-container .action-call-item .action-call-item-text .action-call-item-icone {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    right: 0;
  }
}
.action-call-container .action-call-item .action-call-item-text h3 {
  font-size: 4rem;
  font-weight: 900;
}
.action-call-container .action-call-item .action-call-item-text p {
  font-size: 2rem;
  line-height: 1.5rem;
}

.team-page-content {
  overflow: hidden;
}

.polaroid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  padding-top: 0px;
  position: relative;
}
.polaroid-container .polaroid-box-hover {
  width: 220px;
}
.polaroid-container .polaroid-box-hover .polaroid-frame {
  cursor: pointer;
  padding: clamp(6px, 5%, 14px);
  padding-bottom: clamp(24px, 25%, 25px);
  background-color: hsl(0, 0%, 90%);
  border: 2px solid;
  border-color: white hsl(0, 0%, 75%) hsl(0, 0%, 40%) hsl(0, 0%, 75%); /*border colors (top / right / bottom / left )*/
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"%3E%3Cg fill="%239C92AC19" fill-opacity="0.4"%3E%3Cpath fill-rule="evenodd" d="M0 0h4v4H0V0zm4 4h4v4H4V4z"/%3E%3C/g%3E%3C/svg%3E'); /*background pattern*/
  -webkit-box-shadow: 0px 5px 5px hsla(0, 0%, 0%, 0.25), 0px 5px 25px hsla(0, 0%, 0%, 0.2);
          box-shadow: 0px 5px 5px hsla(0, 0%, 0%, 0.25), 0px 5px 25px hsla(0, 0%, 0%, 0.2);
}
.polaroid-container .polaroid-box-hover .polaroid-frame figcaption {
  text-align: center;
  font-family: Caveat Variable;
  font-size: 1.5rem;
  font-weight: 400;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.polaroid-container .polaroid-box-hover .polaroid-frame .effect-shine {
  position: relative;
  overflow: hidden;
}
.polaroid-container .polaroid-box-hover .polaroid-frame .effect-shine img {
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: sepia(0.4);
          filter: sepia(0.4);
}
.polaroid-container .polaroid-box-hover .polaroid-frame .effect-shine span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-family: poppins;
  background-color: rgba(0, 0, 0, 0.548);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  z-index: 2;
}
.polaroid-container .polaroid-box-hover .polaroid-frame .effect-shine span p {
  font-size: 0.7rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
  text-overflow: ellipsis;
}
@-webkit-keyframes shine {
  to {
    opacity: 1;
    right: 210%;
  }
}
@keyframes shine {
  to {
    opacity: 1;
    right: 210%;
  }
}
.polaroid-container .polaroid-box-hover .polaroid-frame .infos-container {
  position: relative;
}
.polaroid-container .polaroid-box-hover .polaroid-frame .infos-container .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: blur(1px) contrast(50%);
          filter: blur(1px) contrast(50%);
  z-index: -1;
}
.polaroid-container .polaroid-box-hover:before, .polaroid-container .polaroid-box-hover:after {
  background: rgba(255, 255, 235, 0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  margin: auto;
  width: 100px;
  z-index: 1;
}
.polaroid-container .polaroid-box-hover:before {
  left: 50%;
  top: 0px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.polaroid-container .polaroid-box-hover:after {
  bottom: 0px;
  right: -35px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.is-selected {
  -webkit-transform: translate(0, 0) !important;
          transform: translate(0, 0) !important;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 1rem;
  max-width: 1000px;
  width: 90%;
  margin: auto;
  position: relative;
  color: black;
  font-family: poppins;
  font-size: 0.8rem;
}
@media screen and (max-width: 800px) {
  .content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.content-container .introduction-container {
  position: relative;
  padding: 20px 0;
}
.content-container .introduction-container h2 {
  font-size: 2rem;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  z-index: 1;
}
.content-container .introduction-container p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}
.content-container .text-content-image-container {
  position: relative;
  margin: 0 50px;
  max-width: 30%;
}
@media screen and (max-width: 800px) {
  .content-container .text-content-image-container {
    max-width: 50% 200px;
  }
}
.content-container .text-content-image-container img {
  width: auto;
  max-width: 100%;
  border-radius: 100%;
  height: 100%;
  float: left;
}

span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  position: absolute;
}

.title-span-2 {
  right: 0;
  top: 0px;
  opacity: 0.9;
  font-size: 2rem;
  z-index: -1;
}

.title-span-1 {
  left: 0;
  top: 50px;
  opacity: 0.6;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 10rem;
  z-index: -1;
}

.img-span-1 {
  opacity: 0.6;
  font-size: 10rem;
  z-index: 1;
  left: 0;
  top: 0;
  opacity: 0.9;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 800px) {
  .img-span-1 {
    font-size: 7rem;
  }
}

.img-span-2 {
  font-size: 15rem;
  bottom: -150px;
  right: 0;
  z-index: 1;
  opacity: 0.6;
}
@media screen and (max-width: 800px) {
  .img-span-2 {
    font-size: 9rem;
    bottom: -100px;
  }
}

.div-span-1 {
  left: 50%;
  bottom: 0;
  opacity: 0.6;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  font-size: 2.1rem;
  z-index: 1;
}
@media screen and (max-width: 800px) {
  .div-span-1 {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */